{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        
        <title>Sigurd Vingelsgaard</title>
        <link rel='stylesheet' type='text/css' media='screen' href='{%  static  'home/css/main.css'  %}'>
        <link rel='icon' type='image/png' href='{%  static  'home/images/s.png'  %}'>
        
    </head>

    <body>
        <header>
            <img src="{%  static  'home/images/background.jpg'  %}" alt="">
            <div class="textBox">
                <h2>Sigurd Vingelsgaard.</h2>
            </div>
        </header>
    </body>
</html>