{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        
        <title>Sigurd Vingelsgaard</title>
        <link rel='stylesheet' type='text/css' media='screen' href='{%  static  'home/css/main.css'  %}'>
        <link rel='icon' type='image/png' href='{%  static  'home/images/s.png'  %}'>
        
    </head>
    <body>
        <div class='banner'>
            <div class='textbox'>
                <a class='text-logo' href=''>SIGURD VINGELSGAARD</a>
                <img class='mobile-menu' id='mobile-cta' src='{%  static  'home/images/Menu.svg'  %}' alt='Menu'>
                <nav>
                    <img id='mobile-menu-exit' class='Mobile-menu-exit' src='{%  static  'home/images/Exit-menu.svg'  %}' alt=''>
    
                    <ul class='Primary-nav'>
                        <li><a href='/admin'>Prodjects</a></li>
                        <li><a href='/sigurdvingelsgaard'>Software</a></li>
                        <li><a href='/snorrehaugen'>Electrical</a></li>
                        <li><a href='/snorrehaugen'>Mechanical</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </body>
</html>