{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        
        <title>Sigurd Vingelsgaard</title>
        <link rel='stylesheet' type='text/css' media='screen' href='{%  static  'home/css/main.css'  %}'>
        <link rel='icon' type='image/png' href='{%  static  'home/images/s.png'  %}'>
        
    </head>

    <body>
        <header class="navbar flex">
            <div class="logo-parent">
                <a href="" class="logo">SIGURD</a>
            </div>

            <div class="mobile-nav-toggle-parent">
                <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false"></button>
            </div>

            <nav>
                <ul data-visible="false" id="primary-navigation" class="primary-navigation flex">
                    <li><a href="">Home</a></li>
                    <li><a href="">Prodjects</a></li>
                    <li><a href="">Sections</a></li>
                </ul>
            </nav>
        </header>
        <section class="hero">
            <!--<img class="background" src="{%  static  'home/images/background.jpg'  %}" alt=""></img>
            <div class="textBox">
                <h2>Sigurd Vingelsgaard.</h2>
            </div>-->
        </section>
    </body>
</html>

<script>
    const primaryNav = document.querySelector(".primary-navigation");
    const navToggle = document.querySelector(".mobile-nav-toggle");
    //const newNavToggle = document.querySelectorAll("body > header:not()");
    const section = document.querySelector('section');


    const openAndClose = () => {
    const visibility = primaryNav.getAttribute("data-visible");

        if (visibility === 'false') {
            primaryNav.setAttribute("data-visible", true);
            navToggle.setAttribute("aria-expanded", true);
        } else if (visibility === 'true') {
            primaryNav.setAttribute("data-visible", false);
            navToggle.setAttribute("aria-expanded", false);
        }
    };

    const close = () => {
    const visibility = primaryNav.getAttribute("data-visible");
    
    if (visibility === 'true') {
        primaryNav.setAttribute("data-visible", false);
        navToggle.setAttribute("aria-expanded", false);
    };
    };

    navToggle.addEventListener("click", openAndClose);

    //Click anywhere to close navbar
    section.addEventListener("click", close);



    //Weird mobile-nav transition fix
    let resizeTimer;
    window.addEventListener("resize", () => {
    document.body.classList.add("resize-animation-stopper");
    clearTimeout(resizeTimer);
    resizeTimer = setTimeout(() => {
        document.   body.classList.remove("resize-animation-stopper");
    }, 400);
    });
</script>
