
*
{
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  box-sizing: 0;

}
.banner{
  position: relative;
  min-height: 100vh;
  background: url(../images/background.jpg);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}